
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&family=Rozha+One&display=swap');
*{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Playfair Display', serif;
}

:root{
  --ee-brown: #B67156;
}

main {
    min-height: 80vh;
  }
  a, a:hover{
      text-decoration: none;
  }
  
  h3 {
    padding: 1rem 0;
  }
  
  h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }
  
  h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
  }
  
  .rating span {
    margin: 0.1rem;
  }
  
  /* carousel */
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex;
  }
  .carousel-caption {
    position: absolute;
    top: 0;
  }
  
  .carousel-caption h2 {
    color: #fff;
  }
  
  .carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel a {
    margin: 0 auto;
  }
  @media (max-width: 900px) {
    .carousel-caption h2 {
      font-size: 2.5vw;
    }
  }


  .ee-logo{
    width:250px;
    height: 140px;
  }


.ee-brown{
  /* background-color: var(--ee-brown); */
  background-color:#352D27;
}

.nav-link{
  
  font-family: 'Rozha One', serif;
  color: var(--ee-brown) !important;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}
.carousel a {
  margin: 0 auto;
}